.photo-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(67, 150, 218);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 100px 0px 200px 200px;
  font-size: 30px;
  font-weight: bolder;
  width: fit-content;
  height: 100px;
  color: rgb(228, 228, 228);
  padding: 15px;
}

.apod-container {
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  padding: 0px 50px 0px 50px;
  background-color: rgba(0, 0, 0, 0.452);
}
.apod-container img {
  border-radius: 20px;
  margin-right: 5px;
}
