.photo-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(67, 150, 218);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 100px 0px 200px 200px;
  font-size: 30px;
  font-weight: bolder;
  width: fit-content;
  height: 100px;
  color: rgb(228, 228, 228);
  padding: 15px;
}

.apod-container {
  max-height: 400px;
  outline: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  background-color: #222;
  padding: 10px;
  margin: 30px;
}
.apod-container img {
  border-radius: 20px;
  margin-top: 5px;
}
